* {
  box-sizing: border-box;
}

:root {
  --main-bg: #ffb630;
  --sec-color: #a3f7d9;
  --header-color: #123d2d;
  --color-bg: #e35b0b;
  --color-on-color-bg: #ea9b0a;
  --btn-border: 1px solid var(--main-bg);
  --card-bg: #a3f7d9;
  --btn-bg: #dfaf37;
}
body {
  margin: 0;
  max-width: 100%;
}
header,
main,
footer,
nav {
  max-width: 100%;
  margin: 0;
}
h2,
h3 {
  text-align: center;
  color: var(--header-color);
}
.card {
  background-color: var(--card-bg);
  padding: 1rem;
}
header {
  background-color: var(--main-bg);
  padding: 0;
}
header #logo-box {
  width: 30%;
  margin: 0 auto;
}
header #logo-box #logo {
  width: 100%;
  height: auto;
}
header h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  padding: 0;
  margin: 0 auto;
  color: var(--header-color);
}
/*CSS for responsive navigation menu*/
nav {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-bg);
}
#hamburger-menu {
  display: inline-block;
  background: var(--main-bg);
  color: var(--header-color);
  padding: 0.4rem 0.7rem;
  position: absolute;
  right: 1rem;
}
#hamburger-menu::before {
  content: "MENU";
  font-size: 1.2rem;
}
#hamburger-menu.show::before {
  content: "❌";
}
.menu-list {
  display: flex;
  flex-direction: column;
  color: #e0ffff;
}
.menu-list li {
  display: none;
}
.menu-list li a {
  display: block;
  padding: 0.6rem;
  text-decoration: none;
  font-family: "Rubik", "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #e0ffff;
  text-align: center;
}
.show li {
  display: block;
  width: 100%;
}
.show li a {
  display: block;
}
.current::after {
  content: " 🛵";
  background-color: var(--color-on-color-bg);
}
.current {
  font-weight: bolder;
}
.menu-list li a:hover {
  background-color: var(--main-bg);
  color: var(--header-color);
}
/*CSS for Home Page*/
#media-icons {
  position: absolute;
  top: 1rem;
  right: 0;
}
#media-icons img {
  width: 1rem;
  height: auto;
  margin: 0.5rem;
}
#hero {
  max-width: 100%;
  margin: 0 auto;
}

#hero img {
  width: 100%;
  height: auto;
}
#cta {
  width: 8rem;
  background-color: var(--btn-bg);
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  border: var(--btn-border);
  text-align: center;
  font-family: "Noto Sans", "Roboto", sans-serif;
  cursor: pointer;
  position: absolute;
  bottom: 6rem;
  left: 3rem;
  opacity: 0.7;
}
#cta a {
  color: #000;
  text-decoration: none;
}
#advert {
  background-color: var(--main-bg);
  color: var(--color-on-color-bg);
}
#ad-space {
  font-family: "Beau Rivage";
  font-size: 1.4rem;
  color: #000;
  padding: 2rem;
}
#home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  max-width: 100%;
}
#advert {
  position: relative;
}
#advert img {
  width: 50%;
  height: auto;
  float: left;
  margin: 1rem;
}
#weather span {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0.5rem;
}
#weather img {
  float: left;
}
#weather span:first-of-type {
  font-size: 1.5rem;
  font-weight: bold;
}
#weather div {
  margin-bottom: 2rem;
}
#home table {
  width: 100%;
  margin: 0 auto;
}
#home caption {
  caption-side: bottom;
  margin: 1rem auto;
  font-family: "Noto sans", sans-serif;
  font-size: 1.2rem;
}
th,
td {
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
}
thead th,
td {
  font-family: "Roboto", sans-serif;
  text-align: left;
}

#home table td a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
#home table tbody tr:nth-of-type(odd) {
  background-color: #fff;
}
#home h2 {
  text-align: center;
  font-size: 1.5rem;
}
.card #weather {
  width: 100%;
}
/*CSS for Reservation Page*/

#reservation {
  margin: 0 auto;
  display: block;
}
#reservation ul li {
  padding: 0.8rem;
  font-family: "Noto sans", sans-serif;
  font-size: 1.2rem;
}
#reservation section {
  margin: 1rem;
  max-width: 100%;
  border: 1px solid #000;
  padding: 1rem;
}
fieldset {
  border: 1px solid var(--header-color);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
}
legend {
  padding: 0 1rem;
}
label.top {
  display: block;
  padding-bottom: 1rem;
  text-align: left;
}
label.top input,
label.top select,
div.top {
  display: block;
  width: 100%;
  max-width: 19rem;
  padding: 0.8rem;
}
label.side {
  display: block;
  padding-top: 1rem;
  text-align: left;
}
#quantity {
  width: 4rem;
  padding: 0.5rem;
}
label.top textarea {
  display: block;
  resize: none;
  width: 100%;
  max-width: 19rem;
}
label input:required {
  background-color: #ff6a74;
}
label input:required:valid {
  background-color: transparent;
}
#submitBtn {
  border: none;
  background-color: var(--btn-bg);
  padding: 0.6rem 1rem;
  margin: 1rem 1rem 2rem 0.5rem;
  border-radius: 10px;
  width: 90%;
  max-width: 20rem;
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: bold;
}
/*CSS for Rentals Page*/
#rentals .card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 10px;
  max-width: 100%;
}
#rentals .card img {
  width: 100%;
  height: auto;
}
/*CSS for Contact Page*/
#contact h3,
#contact h2 {
  text-align: left;
}
#map iframe {
  width: 100%;
  max-width: 100%;
}

/*CSS for footer*/
footer img {
  width: 25px;
  height: auto;
  margin: 2rem;
}
footer {
  background-color: var(--header-color);
  color: var(--sec-color);
  padding: 1rem;
  font-family: "roboto";
  font-size: 1rem;
  display: block;
}
footer a {
  text-decoration: none;
  color: var(--sec-color);
}
#thank {
  font-size: 1.2rem;
  font-family: "Roboto";
  background: var(--card-bg);
  color: var(--header-color);
  padding: 2rem;
}
