* {
  box-sizing: border-box;
}

:root {
  --main-bg: #6fbb8d;
  --sec-color: #0be392;
  --header-color: #e30b5c;
  --color-bg: #e30b5c;
  --color-on-color-bg: #c7d4cc;
}
header,
main,
footer,
nav {
  max-width: 100%;
  margin: 0;
}
header {
  background-color: var(--main-bg);
  padding: 0;
}
header #logo-box {
  width: 30%;
  margin: 0 auto;
}
header #logo-box #logo {
  width: 100%;
  height: auto;
}
header h1 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
nav {
  display: block;
  width: 100%;
  background-color: var(--sec-color);
  color: var(--color-on-color-bg);
}
nav ul li {
  display: block;
  text-align: center;
  margin: 1rem auto;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-family: "Roboto" sans-serif;
  font-size: 1.5rem;
}
/*CSS for responsive navigation menu*/
#hamburger {
  display: block;
  position: absolute;
  top: 7px;
  right: 8px;
}

#hamburger .ham-bar {
  display: block;
  width: 3rem;
  height: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #000;
}
#hambuger.ham-bar:nth-last-child(45deg) {
  transform: rotate(-45deg);
  transition: 0.5s;
}
#hamburger:nth-child(2) {
  opacity: 0;
}
#hamburger:nth-child(3) {
  transform: rotate(-45);
  transition: 0.5s;
}
