* {
  box-sizing: border-box;
}

:root {
  --main-bg: #6fbb8d;
  --sec-color: #0be392;
  --header-color: #e30b5c;
  --color-bg: #e30b5c;
  --color-on-color-bg: #c7d4cc;
  --btn-border: 1px solid var(--main-bg);
  --basic-font: "Roboto";
}
header,
main,
footer,
nav {
  max-width: 100%;
  margin: 0;
}
header {
  background-color: var(--main-bg);
  padding: 0;
}
header #logo-box {
  width: 30%;
  margin: 0 auto;
}
header #logo-box #logo {
  width: 100%;
  height: auto;
}
header h1 {
  text-align: center;
  font-family: "Roboto" sans-serif;
  font-size: 3rem;
  padding: 0;
  margin: 0 auto;
}
/*CSS for responsive navigation menu*/
nav {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-bg);
}
#hamburger-menu {
  display: inline-block;
  background: transparent;
  color: var(--header-color);
  padding: 0.4rem 0.7rem;
  position: absolute;
  right: 1rem;
  top: 0;
}
#hamburger-menu::before {
  content: "MENU";
  font-size: 1.2rem;
}
#hamburger-menu.show::before {
  content: "❌";
}
.menu-list {
  display: flex;
  flex-direction: column;
  color: #e0ffff;
}
.menu-list li {
  display: none;
}
.menu-list li a {
  display: block;
  padding: 0.6rem;
  text-decoration: none;
  font-family: "Rubik", "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #e0ffff;
}
.show li {
  display: block;
  width: 100%;
}
.show li a {
  display: block;
}
