* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  width: 100%;
}
header,
main,
footer {
  margin: 1rem auto;
  max-width: 100%;
  font-family: "Rubik", "Roboto", sans-serif;
}
header {
  background-color: black;
  color: #fff;
  padding: 1rem;
}
main {
  background-color: #e0d3d3;
  display: grid;
  gap: 1rem;
  padding: 1rem;
}
section {
  padding: 1rem;
  border: solid 2px #000;
  border-radius: 10px;
}
footer {
  background-color: #000;
  color: #fff;
  padding: 1.5rem;
  margin-bottom: 0px;
}
h1 {
  font-size: 3rem;
  padding: 1rem;
}
h2 {
  font-size: 2.5rem;
  padding: 1rem;
}
h3 {
  font-size: 2rem;
  padding: 1rem;
}
section p:first-child {
  font-size: 2rem;
  font-weight: bold;
}
