* {
  box-sizing: border-box;
}
header,
main,
footer {
  max-width: 100%;
  margin: 0;
}
:root {
  /* Color variables*/
  --main-bg: #c2ffc2;
  --sub-bg: #8fff8f;
  --pry-color: #140014;
  --sec-color: #001400;
}
img {
  max-width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
}
header {
  position: relative;
  top: 0;
  background-color: var(--main-bg);
  width: 100%;
  padding: 2.5rem;
  height: 20%;
}
header img {
  display: block;
  margin: 0 auto;
}
header p {
  padding: 0.5rem 1rem;
  position: absolute;
  left: 2px;
  top: -0.5rem;
  color: var(--pry-color);
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
header p::before {
  content: "✉️ ";
}
nav {
  background-color: var(--sec-color);
  padding: 1rem;
  margin-top: 0;
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

#menu {
  display: inline-block;
  background: transparent;
  color: var(--pry-color);
  font-size: 2.2rem;
  padding: 0.4rem 0.7rem;
  position: absolute;
  border: none;
  top: 0;
  right: 0;
}
#menu::before {
  content: "Ξ";
}
#menu.show::before {
  content: "⨉";
}
.navlist {
  display: flex;
  flex-direction: column;
  color: var(--main-bg);
}
.navlist li {
  display: none;
}
.navlist li a {
  display: block;
  padding: 0.6rem;
  text-decoration: none;
  font-family: "Karla", "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #e0ffff;
}
.navlist li a:hover {
  color: var(--pry-color);
  background-color: var(--main-bg);
}
.show li {
  display: block;
  width: 100%;
}
.show li a {
  display: block;
}
#hero {
  position: relative;
}
#hero p {
  position: absolute;
  left: 0;
  top: 1rem;
}
#hero button {
  position: absolute;
  right: 50px;
  bottom: 20px;
  padding: 1rem 2rem;
  background-color: var(--pry-color);
  color: var(--main-bg);
  border: 1px solid var(--sec-color);
  border-radius: 10px;
  font-family: "Karla", "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0;
  background-color: var(--main-bg);
  font-family: "Karla", "Roboto";
}
main section {
  padding: 0;
}
footer img {
  margin: 0 2rem;
  border-radius: 50%;
}
footer {
  background-color: var(--pry-color);
  color: var(--main-bg);
  padding: 1rem;
}
#weather p:first-of-type {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 1rem;
}
#weather p:first-of-type::before {
  content: "🌥️ ";
}
#mode {
  position: absolute;
  right: 0;
  top: 6rem;
  width: 3rem;
  cursor: pointer;
}
section button {
  padding: 0.5rem 1rem;
  background-color: var(--pry-color);
  color: #fff;
  font-family: "karla", "Roboto";
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
}
#hero picture {
  width: 100%;
}
#hero img {
  width: 100%;
  height: auto;
  margin: 0;
}
#discover {
  margin: 0 auto;
  max-width: 100%;
}
#info-card img,
#discover-images img {
  width: 100%;
  height: auto;
}
.card {
  border: 1px solid var(--pry-color);
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
}
.card p {
  text-align: left;
  font-family: "Karla", "Roboto", sans-serif;
  font-size: 1rem;
}
#visits {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}
#form-div {
  max-width: 100%;
}
#form-div .enclose {
  border: 1px solid var(--pry-color);
  margin: 0.5rem auto;
  padding: 0.75rem;
  max-width: 100%;
}
#form-div h2,
#form-div h3 {
  margin: 0;
}
form fieldset {
  border: 1px solid var(--sec-color);
  padding: 0.8rem;
  border-radius: 10px;
  margin: 1rem;
  max-width: 100%;
}
form legend {
  padding: 0 0.6rem;
}
form label.top {
  display: block;
  padding-top: 0.9rem;
  text-align: left;
}
form label.top input {
  display: block;
  width: 100%;
  max-width: 20rem;
  padding: 0.6rem;
}
form label.sbs {
  display: block;
  padding-top: 0.6rem;
  text-align: left;
}
form label.top input:required {
  border-left: 10px solid red;
}
form label.top input:required:valid {
  border-left: 6px solid green;
}
form #submitBtn {
  background-color: var(--pry-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
table {
  margin: 2rem auto;
  border: 1px solid var(--sec-color);
  border-collapse: collapse;
}
caption {
  caption-side: bottom;
  padding: 1rem 2rem;
  font-size: 0.9rem;
}
td {
  padding: 0.75rem 1.5rem;
  text-align: center;
  border: 1px solid #f2dfdfe1;
}
tr :nth-child(odd) {
  background-color: #blue;
}
