* {
  box-sizing: border-box;
}
header,
main,
footer,
img {
  max-width: 100%;
  margin: 0;
}
:root {
  /* Color variables*/
  --main-bg: #c2ffc2;
  --sub-bg: #8fff8f;
  --pry-color: #140014;
  --sec-color: #001400;
}
header {
  background-color: var(--main-bg);
  width: 100%;
  padding: 1rem;
}
header img {
  display: block;
  margin: 0 auto;
}
header p {
  padding: 1rem 2rem;
}
nav {
  background-color: var(--sec-color);
  padding: 1rem;
  margin-top: 0;
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

#menu {
  display: inline-block;
  background: var(--sub-bg);
  color: var(--pry-color);
  font-size: 2.2rem;
  padding: 0.4rem 0.7rem;
  position: absolute;
  top: 0;
  right: 0;
}
#menu::before {
  content: "Ξ";
}
#menu.show::before {
  content: "⨉";
}
.navlist {
  display: flex;
  flex-direction: column;
  color: #e0ffff;
}
.navlist li {
  display: none;
}
.navlist li a {
  display: block;
  padding: 0.6rem;
  text-decoration: none;
  font-family: "Karla", "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #e0ffff;
}
.show li {
  display: block;
  width: 100%;
}
.show li a {
  display: block;
}
#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#hero img {
  grid-column: 1/3;
  grid-row: 1/3;
}
#hero p {
  grid-column: 1/2;
  grid-row: 1/2;
  color: var(--sec-color);
  z-index: 1;
}
#hero button {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: var(--pry-color);
  color: var(--main-bg);
  width: 25%;
  height: 20%;
  cursor: pointer;
  align-self: center;
}
main section {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--main-bg);
  font-family: "Karla", "Roboto";
  border: 1px solid var(--sec-color);
}
