@media screen and (min-width: 650px) {
  #menu {
    display: none;
  }
  .navlist li {
    display: block;
    flex: 1 1 100%;
  }
  .navlist {
    flex-direction: row;
  }
  #hero img {
    width: 100%;
  }
  main {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
  }
  main section:last-child {
    grid-column: 1/4;
  }

  #discover {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
  #discover-images img:hover {
    opacity: 0.5;
  }
  #form-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  #form-div > h2 {
    grid-column: 1/3;
  }
}
