* {
  box-sizing: border-box;
}
body {
  background-color: #e0ffff;
  text-align: center;
  font-size: 18px;
  font-family: Calibri, "Gill Sans";
  text-align: center;
}
header,
nav,
main,
footer {
  max-width: 100%;
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  background-color: #515073;
}
h1 {
  font-size: 3.4rem;
  color: #fff;
}
img {
  width: 250px;
}
#header-item1 {
  text-align: right;
}
#header-item2 {
  text-align: left;
  justify-items: center;
  margin-top: 70px;
  margin-left: 20px;
  /*Responsive Navigation CSS*/
}
#menu {
  display: inline-block;
  background: #ffe0e0;
  color: #515073;
  font-size: 2.2rem;
  padding: 0.4rem 0.7rem;
  position: absolute;
  top: 0;
  right: 0;
}
#menu::before {
  content: "Ξ";
}
#menu.show::before {
  content: "⨉";
}
.navlist {
  display: flex;
  flex-direction: column;
  color: #e0ffff;
}
.navlist li {
  display: none;
}
.navlist li a {
  display: block;
  padding: 0.6rem;
  text-decoration: none;
  font-family: "Rubik", "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #e0ffff;
}
.show li {
  display: block;
  width: 100%;
}
.show li a {
  display: block;
}
.active::after {
  content: " ⁕";
}

li {
  list-style-type: none;
}
nav {
  margin: 0px auto;
  padding: 1rem;
  background-color: #727350;
}
footer {
  background-color: #515073;
  padding: 20px;
  position: relative;
}
footer p {
  color: #ffe0e0;
}
.card {
  text-align: left;
  padding: 10px;
  font-size: 1.5rem;
  background-color: #ffe0e0;
  border: solid 2px #515073;
  border-radius: 10px;
}

.card li a {
  text-decoration: none;
}
h3 {
  font-size: 1.6em;
  background-color: #515073;
  color: white;
  margin: 0 auto;
  text-align: center;
}
h2 {
  font-size: 2em;
  margin: 0;
}
.card a:hover {
  color: black;
}
hr {
  height: 3px;
  background-color: #515073;
  margin: 0;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin: 1rem;
}
img,
iframe {
  max-width: 100%;
}
iframe {
  width: 100%;
}
